In [1]:
import pandas as pd
import numpy as np

In [134]:

def prova():
    N,M,G = map(int, input().split())
    sequence = input().split()

    guard = np.ones(G)

    dic = {}
    for x in sequence:
        if int(x) in dic.keys():
            dic[int(x)] += 1
        else:
            dic[int(x)] = 1

    list = []
    idx =  0   # Indica la posizione del primo guardiano libero nell'array
    for x in range(len(sequence)):
        dic[int(sequence[x])] -= 1
        if dic[int(sequence[x])] == 0:
            idx = idx - 1
        if sequence[x] not in list: 
            idx += 1
            list.append(sequence[x])
        if idx > len(guard):
            return "NO"
    return "YES"

In [135]:
prova()

{1: 2, 2: 3}
len[guard[:  1
start of the for loop:  0
dic[x]:  1
idx before 3rd if;  1
start of the for loop:  1
dic[x]:  2
idx before 3rd if;  2

'NO'

In [3]:
data = pd.read_csv("bank_transactions.csv")

In [4]:
data.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [14]:
ciao = data[["TransactionID", "CustLocation"]].groupby("CustLocation").count() 
ciao.sort_values(by=["TransactionID"])

                                  TransactionID
CustLocation
ZUNHEBOTO                                     1
RAIBAREILY                                    1
DUNGRA                                        1
RAI SONEPAT                                   1
DUTTA LANE BIRENDRA APPT SILCHAR              1
...                                         ...
NOIDA                                     32784
DELHI                                     71019
GURGAON                                   73818
BANGALORE                                 81555
NEW DELHI                                 84928

[9354 rows x 1 columns]